<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:owner_id]} type="text" label="Owner" />
  <.input field={f[:amount]} type="number" label="Amount" step="any" />
  <.input field={f[:currency]} type="text" label="Currency" />
  <:actions>
    <.button>Save Wallet</.button>
  </:actions>
</.simple_form>
