<.header>
  New Contribution
  <:subtitle>Use this form to manage contribution records in your database.</:subtitle>
</.header>

<.contribution_form changeset={@changeset} action={~p"/contributions"} />

<.back navigate={~p"/contributions"}>Back to contributions</.back>
