<.header>
  Edit Loan <%= @loan.id %>
  <:subtitle>Use this form to manage loan records in your database.</:subtitle>
</.header>

<.interest_form changeset={@changeset} action={~p"/loans/#{@loan}"} />

<.back navigate={~p"/loans"}>Back to loans</.back>
