<.header>
  New Loan
  <:subtitle>Use this form to manage loan records in your database.</:subtitle>
</.header>

<.loan_form changeset={@changeset} action={~p"/loans"} />

<.back navigate={~p"/loans"}>Back to loans</.back>
